/* OVERALL */

/* * {
    border: solid 1px red;
} */

html{
    font-size: 16px;
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background: url("img/sand.jpeg") center center;
    background-size: cover;
}

a {
	text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* NAVBAR */

.nav:hover {
    background: linear-gradient(#003300, #1f7a1f);
}

.current_page_item {
    background: linear-gradient(#003300, #1f7a1f);
}

#navbar-wrapper {
    margin: 0;
}

#navbar {
    background: linear-gradient(#2eb82e, #1f7a1f);
    height: 60px;
    text-align: center;
    margin-top: 15px;
}

#navbar ul {
    list-style-type: none;
    line-height: normal;
    margin: 0px;
    padding-top: 20px;
}

#navbar li {
    display: inline;
    padding: 20px;
}

#navbar a{
    color: white;
}

/* BODY OF SITE */

#body-wrapper {
    margin: 0;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 20px;
    padding-right:
}

.body-entry {
    height: 150px;
    background-color: #e5c385;
    border: solid 2px black;
    box-shadow: 5px 10px 10px #333333;
}


.body-entry ul {
    list-style-type: none;
    line-height: normal;
    margin: 0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.body-entry li {
    display: inline;
}

.link {
    background: linear-gradient(#003300, #1f7a1f); 
    padding: 15px;
    margin-right: 4em;
    color: white;
    width: 190px;
    text-align: center;
}

#input {
    margin-left: 12.5%;
}

/*WRAPPERS FOR PARAGRAPHS */

#about-me-wrapper {
    margin-left: 12.5%;
}

/* CONTACT */

#contactLinks {
    margin: 0;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#contact-wrapper {
    margin-left: 12.5%;
    margin: 0;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #e5c385;
    padding: 2em;
    border: solid 2px black;
    box-shadow: 5px 10px 10px #333333;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
